html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  background-color: black;
}


.nav .left {
  align-items: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .left .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  height: 75px;
  width: 100px;
  background: url('../images/logo-smaller.jpg') no-repeat;
  background-size: 100%;
}

.nav .right {
  flex-direction: row;
  align-items: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;

}

.nav .right a {
  padding-left: 1rem;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 17px;
}

.nav .right a.current {
  font-weight: bolder;
  text-decoration: underline;
}

.nav .right a:hover {
  background-color: white;
  color: black;
}

main {
  flex: 1;
}

footer {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  flex-direction: row;
  justify-content: space-between;
}


.content {
  background: url('../images/bg.jpeg') no-repeat;
  background-size: 100%;
}

.content .content-left {
  margin: 10rem;
}

.info-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}